@keyframes slider-animation {
    0% {
        clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    }

    100% {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }
}

.slider-animation {
    animation: slider-animation 1s ease-in-out forwards;
}